@import "variables";

body .main-wrapper.admin-layout {
  &.mobile-menu-visible {
    .page-left-wrapper {
      .main-menu {
        transform: translateX(0);
      }
    }
    .modal-closer {
      z-index: 6;
    }
  }
  .quill {
    background: #fff;
    .ql-editor {
      min-height: 150px;
    }
  }
  header {
    .mobile-hamburger {
      padding: 0px 10px;
      display: none;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 40px;
        width: 1em;
        height: 1em;
        fill: #616161;
        @media #{$br767} {
          font-size: 35px;
        }
      }
      @media #{$br1199} {
        display: flex;
      }
    }
    .header-right {
      .login-icon-wrapper {
        display: block;
      }
    }
  }
  .page-left-wrapper {
    display: flex;
    @media #{$br1199} {
      flex: 0 0;
    }
    .main-menu {
      background-color: #0a2238;
      @media #{$br1199} {
        padding-top: 25px;
        top: 0;
        z-index: 7;
        height: 100%;
        transform: translateX(-100%);
      }
      &::-webkit-scrollbar {
        width: 0;
      }
      li {
        .active-border-left {
          position: absolute;
          left: 0;
          top: 0;
          width: 0px;
          height: 100%;
          background: #fff;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: width 0.3s ease-in-out;
        }
        &.active {
          a {
            background-color: #31485a;
          }
          .active-border-left {
            width: 7px;
          }
        }
        a {
          &:hover {
            background-color: #31485a;
            .main-menu-icon-wrapper {
              img {
                filter: invert(86%) sepia(15%) saturate(185%) hue-rotate(171deg)
                  brightness(91%) contrast(93%);
              }
            }
            .main-menu-text-wrapper {
              color: #bec8d4;
            }
          }
          .main-menu-text-wrapper {
            font-size: 11px;
            text-transform: uppercase;
            color: #a2aebb;
          }
          .main-menu-icon-wrapper {
            img {
              filter: invert(72%) sepia(11%) saturate(318%) hue-rotate(171deg)
                brightness(93%) contrast(94%);
            }
          }
          .submenu-icon {
            filter: invert(72%) sepia(11%) saturate(318%) hue-rotate(171deg)
              brightness(93%) contrast(94%);
          }
        }
      }
      > li {
        .submenu {
          background-color: #12293e;
          > li {
            > .submenu {
              > li {
                > .submenu {
                  background-color: #18334c;
                }
              }
            }
          }
        }
        &:first-child {
          .main-menu-icon-wrapper {
            &:hover {
              img {
                filter: invert(13%) sepia(25%) saturate(1296%)
                  hue-rotate(166deg) brightness(94%) contrast(102%);
              }
            }
          }
          @media #{$br1199} {
            display: none;
          }
        }
      }
    }
  }
  .page-right-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media #{$br1199} {
      max-width: none;
    }
    .page-loader {
      border: none;
      position: absolute;
      top: 71.5px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .admin-results-table {
      max-width: 90%;
      margin: 0 auto;
      border-top-width: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      &-top {
        margin-top: 40px;
        border-bottom: none;
        border-top-width: 1px;
        border-top-left-radius: 0.28571429rem;
        border-top-right-radius: 0.28571429rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .admin-sub-page {
      .tabs {
        max-width: 700px;
        margin: 45px auto 15px auto;
        .segment {
          background: #e0ecf7;
        }
      }
      .button.big-button {
        max-width: 700px;
        margin: 0 auto 45px auto;
      }
      i.flag {
        margin: 0;
      }
      .category-select * {
        font-size: 13px;
      }
    }
    .admin-menu-page {
      .menu-accordion {
        margin: 40px auto;
        .accordion {
          overflow: hidden;
          .form,
          .button {
            font-size: 14px;
          }
          > .title {
            /*position: relative;
            z-index: 2;*/
            transition: box-shadow 0.5s;
          }
          &.active {
            .title {
              box-shadow: 0px 1px 1px 0px rgb(107 107 107 / 25%);
            }
          }
          .sortable-list-item {
            &.active {
              > .title {
                background: #ececec;
                box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 25%);
              }
              > .content {
                background: #f1f1f1;
              }
            }
            > .content {
              padding-top: 20px;
              transition: background 0.3s;
            }
            > .title {
              position: relative;
              transition: background 0.3s;
              z-index: 1;
              position: relative;

              .delete-icon-wrapper {
                display: flex;
                align-items: center;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                img {
                  display: block;
                  width: 25px;
                  height: 25px;
                  opacity: 0.75;
                  transition: opacity 0.3s;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .admin-pages-page {
      .pages-accordion {
        margin: 40px auto;
        form {
          font-size: 14px;
        }
      }
    }
  }
  .error-box {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 6;
    width: auto;
    min-width: 300px;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
  }
}
