@import "variables";

body .main-wrapper.admin-layout {
  &.mobile-menu-visible {
    .page-left-wrapper {
      .main-menu {
        transform: translateX(0);
      }
    }
    .modal-closer {
      z-index: 6;
    }
  }
  header {
    .mobile-hamburger {
      padding: 0px 10px;
      display: none;
      justify-content: center;
      align-items: center;
      svg {
        font-size: 40px;
        width: 1em;
        height: 1em;
        fill: #616161;
        @media #{$br767} {
          font-size: 35px;
        }
      }
      @media #{$br1199} {
        display: flex;
      }
    }
    .header-right {
      .login-icon-wrapper {
        display: block;
      }
    }
  }
  .page-left-wrapper {
    display: flex;
    @media #{$br1199} {
      flex: 0 0;
    }
    .main-menu {
      @media #{$br1199} {
        padding-top: 25px;
        top: 0;
        z-index: 7;
        height: 100%;
        transform: translateX(-100%);
      }
      li {
        &:first-child {
          @media #{$br1199} {
            display: none;
          }
        }
      }
    }
  }
  .page-right-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media #{$br1199} {
      max-width: none;
    }
    .page-loader {
      position: absolute;
      top: 71.5px;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .admin-menu-page {
      .menu-accordion {
        margin: 40px auto;
        .accordion {
          overflow: hidden;
          .form,
          .button {
            font-size: 14px;
          }
          > .title {
            /*position: relative;
            z-index: 2;*/
            transition: box-shadow 0.5s;
          }
          &.active {
            .title {
              box-shadow: 0px 1px 1px 0px rgb(107 107 107 / 25%);
            }
          }
          .sortable-list-item {
            &.active {
              > .title {
                background: #ececec;
                box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 25%);
              }
              > .content {
                background: #f1f1f1;
              }
            }
            > .content {
              padding-top: 20px;
              transition: background 0.3s;
            }
            > .title {
              position: relative;
              transition: background 0.3s;
              z-index: 1;
              position: relative;

              .delete-icon-wrapper {
                display: flex;
                align-items: center;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                img {
                  display: block;
                  width: 25px;
                  height: 25px;
                  opacity: 0.75;
                  transition: opacity 0.3s;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .admin-categories-page {
      .categories-table {
        max-width: 90%;
        margin: 0 auto;
        border-top-width: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &.add-category {
          margin-top: 40px;
          border-bottom: none;
          border-top-width: 1px;
          border-top-left-radius: 0.28571429rem;
          border-top-right-radius: 0.28571429rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &.category-sub-page {
        .tabs {
          max-width: 700px;
          margin: 45px auto 15px auto;
          .segment {
            background: #e0ecf7;
          }
        }
        .button {
          max-width: 700px;
          margin: 0 auto;
        }
        i.flag {
          margin: 0;
        }
        .category-select * {
          font-size: 13px;
        }
      }
    }
    .admin-pages-page {
      .pages-accordion {
        margin: 40px auto;
        form {
          font-size: 14px;
        }
      }
    }
  }
  .error-box {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 6;
    width: auto;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
  }
}
