@import "variables";

section.homepage {
  .homepage-slider {
    max-width: 1165px;
    max-height: 550px;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .homepage-showcase-wrapper {
    margin: 135px 0px;
    position: relative;
    .homepage-showcase-title {
      text-align: center;
      font-size: 25px;
      padding: 15px 0px;
    }
    .homepage-showcase-controller {
      position: absolute;
      top: calc(50% + 55px);
      left: 50%;
      transform: translate(-50%, calc(-50% - 27.5px));
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      pointer-events: none;
      max-width: 1165px;
      .homepage-showcase-controller-btn {
        pointer-events: auto;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        svg {
          font-size: 40px;
          width: 1em;
          height: 1em;
          fill: #616161;
          @media #{$br767} {
            font-size: 30px;
          }
        }
        &.homepage-showcase-controller-next {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    .homepage-showcase {
      max-width: 1165px;
      @media #{$br1350} {
        max-width: 100%;
      }
      .swiper-wrapper {
        .swiper-slide {
          transform: scale(0.85);
          transition: transform 0.5s;
          @media #{$br677} {
            transform: none;
            display: flex;
            justify-content: center;
          }
          &.swiper-slide-duplicate {
            transform: scale(0.85);
            transition: transform 0.5s;
            @media #{$br677} {
              transform: none;
              display: flex;
              justify-content: center;
            }
          }
          &.swiper-slide-active {
            transform: scale(1);
            .showcase-product-wrapper {
              background-color: #fff;
              opacity: 1;
              .showcase-product-info {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
          &.swiper-slide-duplicate-active {
            transform: scale(1);
            .showcase-product-wrapper {
              background-color: #fff;
              opacity: 1;
              .showcase-product-info {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
          .showcase-product-wrapper {
            transition: background-color 0.5s, opacity 0.5s;
            opacity: 0.5;
            max-width: 100%;
            @media #{$br677} {
              max-width: 70%;
            }
            @media #{$br500} {
              max-width: 100%;
            }
            &.selecting-size {
              .showcase-product-image {
                .showcase-sizes-wrapper {
                  ul {
                    transform: translateX(0) translateY(0);
                  }
                }
              }
            }
            .showcase-product-image {
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .showcase-product-price-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                background: #fff;
                padding: 10px;
                overflow: hidden;
                @media #{$br1199} {
                  font-size: 14px;
                }
                .showcase-product-price {
                  .showcase-product-old-price {
                    padding: 0px 5px;
                    color: red;
                    position: relative;
                    &:before {
                      content: "";
                      position: absolute;
                      background: red;
                      width: 60%;
                      height: 1px;
                      z-index: 1;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%) rotate(-45deg);
                      transform-origin: center center;
                    }
                  }
                }
              }
              .showcase-sizes-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;
                overflow: hidden;
                @media #{$br500} {
                  left: 50%;
                  transform: translateX(-50%);
                  justify-content: center;
                  align-items: flex-start;
                }
                ul {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  overflow: hidden;
                  transform: translateX(100%);
                  transition: transform 0.3s ease-in;
                  @media #{$br500} {
                    transform: translateX(0) translateY(-100%);
                  }
                  li {
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                    width: 100%;
                    margin: 3px 0px;
                    font-size: 12px;
                    font-weight: 600;
                    min-width: 30px;
                    cursor: pointer;
                    transition: background 0.2s ease-in, color 0.2s ease-in;
                    @media #{$br1199} {
                      font-size: 11px;
                    }
                    @media #{$br767} {
                      font-size: 10px;
                    }
                    &:hover {
                      background: #989898;
                      color: #fff;
                    }
                    &.hide-sizes {
                      background: #989898;
                      @media #{$br500} {
                        order: 1;
                      }
                      svg {
                        @media #{$br500} {
                          transform: rotate(90deg);
                        }
                        font-size: 10px;
                        width: 1em;
                        height: 1em;
                        transform: rotate(180deg);
                        fill: #fff;
                      }
                    }
                  }
                }
              }
            }
            .showcase-product-info {
              display: flex;
              flex-wrap: wrap;
              opacity: 0;
              transition: opacity 0.3s ease-in;
              pointer-events: none;
              .showcase-product-name-wrapper {
                flex-basis: 100%;
                .showcase-product-name {
                  flex-basis: 100%;
                  padding: 10px;
                  text-align: center;
                  color: #616161;
                }
                &:hover {
                  color: inherit;
                }
              }

              .showcase-product-options {
                flex-basis: 100%;
                display: flex;
                padding: 15px 0px;
                /*@media #{$br1199} {
                  display: none;
                }*/
                .showcase-product-options-left {
                  flex-basis: 50%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  .opt-el {
                    flex-basis: 33%;
                    display: flex;
                    justify-content: center;
                    svg {
                      font-size: 12px;
                      width: 1em;
                      height: 1em;
                      fill: #484848;
                      @media #{$br1199} {
                        font-size: 11px;
                      }
                    }
                    input {
                      width: 100%;
                      border: none;
                      outline: none;
                      background: none;
                      border-radius: 0;
                      -webkit-appearance: none;
                      text-align: center;
                      border-bottom: 1px solid #484848;
                    }
                    .minus-btn,
                    .plus-btn {
                      padding: 9px;
                      cursor: pointer;
                      background: #ddd;
                      @media #{$br1199} {
                        padding: 6px;
                      }
                    }
                  }
                }
                .showcase-product-options-right {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-basis: 50%;
                  cursor: pointer;
                  overflow: hidden;
                  padding-right: 15px;
                  .select-size-btn {
                    background: #ddd;
                    color: #484848;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    padding: 10px 0px;
                    font-size: 14px;
                    height: 100%;
                    @media #{$br1199} {
                      padding: 7px 0px;
                      font-size: 13px;
                    }
                  }
                  .selected-size {
                    padding: 10px;
                    background: #616161;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ddd;
                    min-width: 35px;
                    font-size: 14px;
                    height: 100%;
                    @media #{$br1199} {
                      padding: 7px;
                      font-size: 13px;
                    }
                  }
                }
              }
              .showcase-product-add-cart-btn {
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                padding: 10px 0px;
                background: #ddd;
                cursor: pointer;
                font-weight: 600;
                @media #{$br1199} {
                  /*display: none;*/
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
