@import "variables";

section.homepage {
  padding: 40px 15px 0px 15px;
  @media #{$br1199} {
    padding: 40px 15px 15px 15px;
  }
  @media #{$br677} {
    padding: 15px 0px;
  }
  .homepage-slider {
    max-width: 1165px;
    max-height: 550px;
    .swiper-wrapper {
      .swiper-slide {
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .homepage-showcase-wrapper {
    max-width: 1165px;
    margin: 135px auto;
    position: relative;
    .homepage-showcase-title {
      text-align: center;
      font-size: 22px;
      padding: 15px 0px;
      background: #e6e6e6;
      color: #616161;
      box-shadow: 0px 1px 1px 0px rgba(122, 122, 122, 0.25);
      position: relative;
      z-index: 2;
      @media #{$br1350} {
        padding: 13px 0px;
      }
      @media #{$br900} {
        font-size: 19px;
        padding: 12px 0px;
      }
      @media #{$br677} {
        font-size: 17px;
        padding: 11px 0px;
      }
    }
    .homepage-showcase-controller {
      position: absolute;
      top: calc(50% + 55px);
      left: 50%;
      transform: translate(-50%, calc(-50% - 27.5px));
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      pointer-events: none;
      max-width: 1165px;
      .homepage-showcase-controller-btn {
        pointer-events: auto;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        svg {
          font-size: 40px;
          width: 1em;
          height: 1em;
          fill: #616161;
          @media #{$br767} {
            font-size: 30px;
          }
        }
        &.homepage-showcase-controller-next {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    .homepage-showcase {
      max-width: 100%;
      background: #e6e6e6;
      padding: 20px 0px;
      @media #{$br1350} {
        max-width: 100%;
      }
      @media #{$br478} {
        padding: 30px 0px;
      }

      .swiper-wrapper {
        .swiper-slide {
          transform: scale(0.85);
          transition: transform 0.5s;
          @media #{$br677} {
            transform: none;
            display: flex;
            justify-content: center;
          }
          &.swiper-slide-duplicate {
            transform: scale(0.85);
            transition: transform 0.5s;
            @media #{$br677} {
              transform: none;
              display: flex;
              justify-content: center;
            }
          }
          &.swiper-slide-active {
            transform: scale(1);
            .showcase-product-wrapper {
              background-color: #fff;
              opacity: 1;
              .showcase-product-info {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
          &.swiper-slide-duplicate-active {
            transform: scale(1);
            .showcase-product-wrapper {
              background-color: #fff;
              opacity: 1;
              .showcase-product-info {
                opacity: 1;
                pointer-events: auto;
              }
            }
          }
          .showcase-product-wrapper {
            transition: background-color 0.5s, opacity 0.5s;
            opacity: 0.5;
            max-width: 360px;
            margin: auto;
            @media #{$br478} {
              max-width: 90%;
            }
            @media #{$br416} {
              max-width: 75%;
            }
            .showcase-product-image {
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .showcase-product-info {
              display: flex;
              flex-wrap: wrap;
              opacity: 0;
              transition: opacity 0.3s ease-in;
              pointer-events: none;
              .showcase-product-name-wrapper {
                flex-basis: 100%;
                .showcase-product-name {
                  flex-basis: 100%;
                  padding: 10px;
                  color: #616161;
                  text-align: center;
                }
                &:hover {
                  color: inherit;
                }
              }
              .showcase-product-price {
                flex: 1;
                padding: 10px;
                font-size: 17px;
                color: #484848;
                text-align: center;
                .showcase-product-old-price {
                  padding: 0px 7px;
                  text-decoration: line-through;
                  color: #fd8181;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
