@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding-bottom: 500vh;
  font-family: "Lato", sans-serif;
}

body header {
  display: flex;
  padding: 15px;
  .logo-wrapper {
    cursor: pointer;
    flex: 0 0 250px;
    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .header-right {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    .header-right-left {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .ui.input {
        width: 100%;
      }
    }
    .header-right-right {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .cart-icon-wrapper {
        font-size: 30px;
        width: 1em;
        height: 1em;
        cursor: pointer;
      }
    }
  }
}

main.main-wrapper {
  .page-left-wrapper {
    padding: 40px 15px 0px 0px;
    flex: 0 0 250px;
    .main-menu {
      background-color: #eeeeee;
      transition: 0.5s;
      width: 100%;
      li {
        cursor: pointer;
        a {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 10px 0px 10px 15px;
          color: #000;
          transition: 0.5s;
        }
        .main-menu-logo-wrapper {
          display: flex;
          align-items: center;
          svg {
            font-size: 25px;
            width: 1em;
            height: 1em;
            transition: 0.5s;
          }
        }
        .main-menu-text-wrapper {
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &.active {
          a {
            background-color: #cacaca;
          }
        }
        &:first-child {
          a {
            justify-content: flex-end;
          }
          .main-menu-logo-wrapper {
            padding: 7px;
            border-radius: 100%;
            transition: 0.5s;
            svg {
              font-size: 15px;
            }
            &:hover {
              background-color: #cacaca;
            }
          }
        }
      }
    }
  }
  .page-right-wrapper {
    flex: 1;
    padding: 40px 15px 0px 15px;
  }
  &.left-menu-icon-mode-active {
    .page-left-wrapper {
      .main-menu {
        width: 60px;
        .main-menu-logo-wrapper {
          svg {
            font-size: 35px;
          }
        }
        li {
          &:first-child {
            .main-menu-logo-wrapper {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
