@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #f5f5f5;
  color: #616161;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: #616161;
}

body header {
  display: flex;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 23px 0px rgba(227, 227, 227, 1);
  .logo-wrapper {
    cursor: pointer;
    flex: 0 0 250px;
    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .header-right {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    .header-right-left {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .ui.input {
        width: 50%;
      }
    }
    .header-right-right {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .header-right-icon-wrapper {
        display: flex;
        svg {
          font-size: 28px;
          width: 1em;
          height: 1em;
          fill: #616161;
          cursor: pointer;
        }
        .login-icon-wrapper,
        .notification-icon-wrapper {
          margin-right: 15px;
        }
        .login-icon-wrapper {
          position: relative;
          &:hover {
            .login-options-wrapper {
              opacity: 1;
              pointer-events: auto;
            }
          }
          .login-options-wrapper {
            position: absolute;
            top: 100%;
            right: 0;
            width: 275px;
            z-index: 2;
            padding: 15px 0px 0px 0px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 2px 23px 0px #e3e3e3;
            font-size: 13px;
            /*ul {
              display: flex;
              flex-direction: column;
              background-color: #f5f5f5;
              border-radius: 5px;
              box-shadow: 0px 2px 23px 0px #e3e3e3;
              width: 100%;
              overflow: hidden;
              li {
                a {
                  display: block;
                  padding: 11px 10px;
                  font-size: 14px;
                  transition: background-color 0.5s;
                  cursor: pointer;
                  &:hover {
                    color: inherit;
                    background-color: #fff;
                  }
                }
              }
            }*/
            form {
              display: flex;
              flex-direction: column;
              font-size: 13px;
              .input {
                margin: 5px 0px;
                font-size: inherit;
              }
              .button {
                font-size: inherit;
                margin: 0;
              }
              .submit-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: inherit;
                .checkbox {
                  font-size: inherit;
                }
              }
              .divider {
                font-size: 9px;
                margin: 10px 0px;
              }
            }
          }
        }
      }
    }
  }
}

body footer {
  background-color: #dedede;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  .footer-left {
    .copyright {
      font-size: 13px;
    }
  }
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    svg {
      font-size: 40px;
      width: 1em;
      height: 1em;
      fill: #616161;
      &.mastercard-icon {
        width: 0.94em;
        & * {
          fill: inherit;
        }
      }
    }
    .informations-wrapper {
      padding: 0px 10px;
      span {
        padding: 0px 5px;
        font-size: 12px;
      }
    }
  }
}

main.main-wrapper {
  .page-left-wrapper {
    flex: 0 0 250px;
    transition: flex 0.5s, width 0.5s;
    position: relative;
    .main-menu {
      background-color: #fff;
      transition: width 0.5s;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      li {
        cursor: pointer;
        a {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 10px 0px 10px 15px;
          transition: 0.5s;
          overflow: hidden;
          .main-menu-logo-wrapper {
            display: flex;
            align-items: center;
            svg {
              font-size: 25px;
              width: 1em;
              height: 1em;
              transition: 0.5s;
              fill: #616161;
            }
          }
          .main-menu-text-wrapper {
            padding-left: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #3e3e3e;
          }
          &:hover {
            .main-menu-logo-wrapper {
              svg {
                fill: #3e3e3e;
              }
            }
          }
        }
        &.active {
          a {
            background-color: #f5f5f5;
          }
        }
        &.divider {
          background: #616161;
          height: 1px;
          opacity: 0.5;
          margin: 5px 0px;
        }
        &:first-child {
          a {
            justify-content: flex-end;
            .main-menu-logo-wrapper {
              padding: 7px;
              border-radius: 100%;
              transition: 0.5s;
              svg {
                font-size: 15px;
              }
              &:hover {
                background-color: #cacaca;
              }
            }
          }
        }
      }
    }
  }
  .page-right-wrapper {
    flex: 1;
    padding: 40px 15px 0px 15px;
    transition: max-width 0.5s;
    max-width: calc(100% - 250px);
    min-height: 100vh;
  }
  &.left-menu-icon-mode-active {
    .page-left-wrapper {
      flex: 0 0 60px;
      .main-menu {
        width: 60px;
        .main-menu-logo-wrapper {
          svg {
            font-size: 35px;
          }
        }
        li {
          &:first-child {
            .main-menu-logo-wrapper {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    .page-right-wrapper {
      max-width: calc(100% - 60px);
    }
  }
}

section.homepage {
  .homepage-slider {
    width: 1165px;
    height: 550px;
    .swiper-wrapper {
      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .homepage-showcase-wrapper {
    margin: 135px 0px;
    position: relative;
    .homepage-showcase-title {
      text-align: center;
      font-size: 25px;
      padding: 15px 0px;
    }
    .homepage-showcase-controller {
      position: absolute;
      top: calc(50% + 55px);
      transform: translateY(calc(-50% - 27.5px));
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 60px;
      z-index: 1;
      pointer-events: none;
      .homepage-showcase-controller-btn {
        pointer-events: auto;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        svg {
          font-size: 40px;
          width: 1em;
          height: 1em;
          fill: #616161;
        }
        &.homepage-showcase-controller-next {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
    .homepage-showcase {
      width: 1165px;
      height: 450px;
      .swiper-wrapper {
        .swiper-slide {
          transform: scale(0.85);
          transition: transform 0.5s;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &.swiper-slide-active {
            transform: scale(1);
          }
          &.swiper-slide-duplicate-active {
            transform: scale(1);
          }
        }
      }
    }
  }
}
