$br1350: "(max-width: 1350px)";
$br1000: "(max-width: 1000px)";
$br1199: "(max-width: 1199px)";
$br900: "(max-width: 900px)";
$br767: "(max-width: 767px)";
$br677: "(max-width: 677px)";
$br560: "(max-width: 560px)";
$br500: "(max-width: 500px)";
$br478: "(max-width: 478px)";
